*.ipch
tags
*.swp
*.suo
*.db
*.pdb
*.exe
*.ilk
.vs
.tmp
*.tlog
*.obj
*.idb
*.log
*.exp
*.iobj
*.ipdb
*.bak
bin
Debug
Release

!packages/JsonCpp.Windows.1.9.2/build/native/x64/Debug
!packages/JsonCpp.Windows.1.9.2/build/native/x64/Release